<style>
  nav {
    display: flex;
    justify-content: space-around;
    background-color: #212121;
    color: white;
    padding: 10px;
  }

  nav a {
    color: white;
    text-decoration: none;
  }

  nav a.activo {
    color: red;
    text-decoration: underline;
  }


</style>


<nav>
  <a routerLink="/" routerLinkActive="activo" [routerLinkActiveOptions]="{ exact : true }"> contador</a>
  <a [routerLink]="['/hero']" [routerLinkActive]="'activo'"> hero</a>
  <a [routerLink]="['/dragonball']" [routerLinkActive]="'activo'"> dragonball</a>
  <a routerLink="/dragonball-super" routerLinkActive="activo"> dragonball super</a>
</nav>